:root {
	--body-color: #2d3032;
	--nav-background: #27706b;
	--nav-shadow: 0 0 10px rgba(0, 0, 0, .6);
	--nav-text-color: #ffffff;
	--info-background: #f9fafc;
	--about-background: #ffffff;
	--about-shadow: 0 0 15px rgba(0, 0, 0, .1);
	--about-icon-color: invert(100%) sepia(99%) saturate(2%) hue-rotate(220deg) brightness(108%) contrast(101%);
	--about-icon-shadow: 0 0 15px rgba(0, 0, 0, .1);
	--request-background: #ea5643;
	--review-background: #27706b;
	--footer-background: #383e4e;
	--footer-text-color: #ffffff;
	--btn-background: #ea5643;
	--btn-hover-background: #c74938;
}

*,
::after,
::before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

html {
	font-family: sans-serif;
	line-height: 1.5;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	background: #ffffff;
	color: var(--body-color);
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: 50px 1fr 50px;
}

h1, h2, p {
	margin: 0;
}

h1, h2 {
	font-weight: 700;
}

input {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	cursor: pointer;
}

.input {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	border-radius: 1rem;
	background: #f9fafc;
	caret-color: #ea5643;
	padding: .5rem 1.2rem;
}

.input:not(:last-of-type) {
	margin-bottom: 1rem;
}

.btn {
	border: 0;
	background: var(--btn-background);
	outline: none;
	color: #ffffff;
	padding: .5rem 3rem;
	border-radius: .5rem;
	transition: background ease .3s;
}

.btn:hover {
	cursor: pointer;
	background: var(--btn-hover-background);
}

#main {
	grid-area: main;
}

.container {
	width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
	grid-area: header;
	background-color: var(--nav-background);
	box-shadow: var(--nav-shadow);
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	padding: 1rem 0;
	color: var(--nav-text-color);
}

.header .container {
	display: flex;
	align-self: center;
}

.header__navigation {
	width: 100%;
	display: flex;
	align-self: center;
	justify-content: flex-end;
}

.header__navigation-link:not(:last-of-type) {
	margin-right: 3rem;
}

.header__logotype {
	margin-right: 1rem;
}

.header__logotype-image {
	vertical-align: middle;
	height: 30px;
}

.info {
	background-color: var(--info-background);
	padding: 5rem 0 8rem;
}

.info .container {
	display: grid;
	grid-template-columns: 1fr auto;
}

.info__description {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.info__description-title {
	line-height: 1.15;
}

.info__description-text {
	margin-top: .5rem;
}

.info__form {
	width: 50%;
	margin-left: auto;
	background-color: #ffffff;
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: var(--about-icon-shadow);
}

.info__form .btn {
	margin-top: 1rem;
}

.platforms {
	margin: 1rem auto 3rem auto;
}

.platforms__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.platforms__list-item {
	flex: 0 0 calc((100% / 3) - 30px);
	width: calc((100% / 3) - 30px);
	margin-right: 15px;
	margin-left: 15px;
	background-color: var(--info-background);
	box-shadow: var(--about-shadow);
	border-radius: 1rem;
}

.platforms__list-item .photo {
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.review {
	background-color: var(--review-background);
	color: #ffffff;
	padding: 3rem 0;
}

.which {
	margin: 3rem auto;
}

.contacts {
	margin-top: 3rem;
}

.about__container {
	position: relative;
	top: -60px;
	width: 100%;
	margin: auto;
	background-color: var(--about-background);
	box-shadow: var(--about-shadow);
	border-radius: 1rem;
	padding: 3rem;
	display: grid;
	grid-template-columns: 400px auto;
}

.about__container-description .text {
	margin: 1rem 0;
}

.about__container-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-self: center;
}

.about__icon-image {
	position: relative;
	z-index: 10;
	width: 60px;
	height: 60px;
	filter: var(--about-icon-color);
}

.about__container-icon::before,
.about__container-icon::after {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: #ea5643;
	box-shadow: var(--about-icon-shadow);
	display: flex;
	justify-content: center;
	align-self: center;
	opacity: .6;
	border-radius: 1rem;
}

.about__container-icon::before {
	transform: rotate(60deg);
}

.about__container-icon::after {
	transform: rotate(95deg);
}

.main {
	grid-area: main;
}

.request {
	background-color: var(--request-background);
	padding: 1rem 0;
}

.auto {
	padding: 3rem 0;
	font-size: .75rem;
}

.footer {
	grid-area: footer;
	background-color: var(--footer-background);
	color: var(--footer-text-color);
	font-size: 0.6875rem;
	padding: 1rem 0;
	line-height: 1.5;
	text-align: center;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
