:root {
	--body-color: #2d3032;
	--body-font: 'Fira Sans', sans-serif;
	--nav-background: #27706b;
	--nav-shadow: 0 0 10px rgba(0, 0, 0, .6);
	--nav-text-color: #ffffff;
	--info-background: #f9fafc;
	--about-background: #ffffff;
	--about-shadow: 0 0 15px rgba(0, 0, 0, .1);
	--about-icon-color: invert(100%) sepia(99%) saturate(2%) hue-rotate(220deg) brightness(108%) contrast(101%);
	--about-icon-shadow: 0 0 15px rgba(0, 0, 0, .1);
	--request-background: #ea5643;
	--review-background: #27706b;
	--footer-background: #383e4e;
	--footer-text-color: #ffffff;
	--link-hover: #ea5643;
	--btn-background: #ea5643;
	--btn-hover-background: #2d3032;
	--platforms-item-border-radius: .3rem;
	--platforms-item-shadow: 0 5px 30px rgba(0, 0, 0, .15);
	--contact-phone-icon:#ea5643;
	--contact-mail-icon: #27706b;
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	height: 100%;
}

html {
	font-family: sans-serif;
	line-height: 1.5;
}

body {
	font-family: var(--body-font);
	font-weight: 400;
	background: #ffffff;
	color: var(--body-color);
	margin: 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	        grid-template-areas:
		"header"
		"main"
		"footer";
	-ms-grid-rows: 50px 1fr 50px;
	grid-template-rows: 50px 1fr 50px;
}

h1, h2, p {
	margin: 0;
}

h1, h2 {
	font-weight: 700;
}

input {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	cursor: pointer;
	color: var(--link-hover);
}

.input,
.textarea {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	border-radius: 1rem;
	background: #f9fafc;
	caret-color: #ea5643;
	padding: .5rem 1.2rem;
}

.input:not(:last-of-type) {
	margin-bottom: 1rem;
}

.textarea {
	border: none;
	resize: none;
	margin: 1rem auto;
}

.btn {
	border: 0;
	background: var(--btn-background);
	outline: none;
	color: #ffffff;
	padding: .7rem 3rem;
	border-radius: .5rem;
	font-size: .875rem;
	text-transform: uppercase;
	-webkit-transition: background ease .3s;
	-o-transition: background ease .3s;
	transition: background ease .3s;
}

.btn:disabled {
  background: #2d3032;
}

.btn:disabled:hover {
	cursor: default;
  background: #2d3032;
}

.btn-secondary {
	background: #27706b;
}

.btn-light {
	background: #ffffff;
	color: var(--body-color);
}

.btn:hover {
	cursor: pointer;
	background: #2d3032;
}

.btn-light:hover {
	color: #ffffff;
}

#main {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: main;
}

.container {
	width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: header;
	background-color: var(--nav-background);
	-webkit-box-shadow: var(--nav-shadow);
	        box-shadow: var(--nav-shadow);
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	padding: 1rem 0;
	color: var(--nav-text-color);
}

.header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	    align-self: center;
}

.header__navigation {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	    align-self: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.header__navigation-link:not(:last-of-type) {
	margin-right: 3rem;
}

.header__navigation-link {
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.header__logotype {
	margin-right: 1rem;
}

.header__logotype-image {
	vertical-align: middle;
	height: 30px;
}

.info {
	background-color: var(--info-background);
	padding: 5rem 0 8rem;
}

.info .container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr auto;
	grid-template-columns: 1fr auto;
}

.info__description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.info__description-title {
	line-height: 1.15;
}

.info__description-text {
	margin-top: .5rem;
}

.info__form {
	width: 60%;
	margin-left: auto;
	background-color: #ffffff;
	padding: 3rem;
	border-radius: 1rem;
	-webkit-box-shadow: var(--about-icon-shadow);
	        box-shadow: var(--about-icon-shadow);
}

.info__form-button {
	text-align: center;
}

.info__form .btn {
	margin-top: 1rem;
}

.platforms {
	margin: 1rem auto 3rem auto;
}

.platforms__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.platforms__list-item {
	position: relative;
	top: 0px;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-ms-flex: 0 calc(100% / 3 - 20px);
	    flex: 0 calc(100% / 3 - 20px);
	width: calc(100% / 3 - 20px);
	background-color: var(--info-background);
	border-radius: var(--platforms-item-border-radius);
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: top ease-in-out .5s, -webkit-box-shadow ease-in-out .3s;
	transition: top ease-in-out .5s, -webkit-box-shadow ease-in-out .3s;
	-o-transition: top ease-in-out .5s, box-shadow ease-in-out .3s;
	transition: top ease-in-out .5s, box-shadow ease-in-out .3s;
	transition: top ease-in-out .5s, box-shadow ease-in-out .3s, -webkit-box-shadow ease-in-out .3s;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 2rem;
	display: -ms-grid;
	display: grid;
	        grid-template-areas:
		"photo"
		"description"
		"price"
		"lease";
	-ms-grid-rows: 200px auto auto auto;
	grid-template-rows: 200px auto auto auto;
}

.platforms__list-item:first-of-type,
.platforms__list-item:nth-child(3n + 1) {
	margin-left: 0;
}

.platforms__list-item:last-of-type,
.platforms__list-item:nth-child(3n) {
	margin-right: 0;
}

.platforms__list-item:hover {
	top: -1rem;
	-webkit-box-shadow: var(--platforms-item-shadow);
	        box-shadow: var(--platforms-item-shadow);
}

.platforms__list-item .photo {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: photo;
	position: relative;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: var(--platforms-item-border-radius);
	border-top-right-radius: var(--platforms-item-border-radius);
}

.platforms__list-item .elevation {
	position: absolute;
	top: 10px;
	left: 0;
	padding: .25rem .5rem;
	font-size: .875rem;
	background-color: var(--request-background);
	color: #fff;
}

.platforms__list-item .price {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: price;
	padding: 0 1rem;
	margin: 1rem 0;
	font-size: .875rem;
	color: #6c757d;
}

.platforms__list-item .description {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: description;
	padding: 1rem 1rem 0;
	font-size: .875rem;
}

.platforms__list-item .price table,
.platforms__list-item .description table {
	width: 100%;
}

.platforms__list-item .price table .name,
.platforms__list-item .description table .name {
	width: 70%;
}

.platforms__list-item .price table .descr,
.platforms__list-item .description table .descr {
	width: auto;
}

.platforms__list-item .price table .descr,
.platforms__list-item .description table .descr {
	text-align: right;
}

.platforms__list-item .lease {
	-ms-grid-row: 4;
	-ms-grid-column: 1;
	grid-area: lease;
	margin: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	align-self: flex-end;
}

.review {
	position: relative;
	background: url('../img/review.jpg') no-repeat center;
	background-size: cover;
	color: #ffffff;
	padding: 5rem 0;
}

.review:after {
	content: '';
	background-color: rgba(39, 112, 107, .8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.review .container {
	position: relative;
	z-index: 10;
}

.review__list-item .inner {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 100px auto;
	grid-template-columns: 100px auto;
}

.review__list-item .description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-item-align: center;
	    align-self: center;
	margin-left: 1rem;
}

.review__list-item .photo img {
	height: 100px;
	border-radius: 50%;
	vertical-align: middle;
}

.review__list-item .fullname {
	font-style: italic;
	font-weight: 700;
	margin-bottom: 1rem;
}

.review__list-item .text {
}

.tns-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 1rem;
}

.tns-nav > [aria-controls] {
	width: 9px;
	height: 9px;
	padding: 0;
	border-radius: 50%;
	background:#ddd;
	border: 0;
	margin-right: 5px;
	margin-left: 5px;
}

.tns-nav > [aria-controls]:first-of-type {
	margin-left: 0;
}

.tns-nav > [aria-controls]:last-of-type {
	margin-right: 0;
}

.tns-nav > [aria-controls]:focus {
	outline: none;
}

.tns-nav > .tns-nav-active {
	background: #999;
}

.which {
	margin: 3rem auto;
}

.which.container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 400px;
	grid-template-columns: auto 400px;
}

.which__icon {

}

.which__icon {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: center;
	    align-self: center;
}

.which__icon-image {
	position: relative;
	z-index: 10;
	width: 60px;
	height: 60px;
	-webkit-filter: var(--about-icon-color);
	        filter: var(--about-icon-color);
}

.which__icon::before,
.which__icon::after {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: #27706b;
	-webkit-box-shadow: var(--about-icon-shadow);
	        box-shadow: var(--about-icon-shadow);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: center;
	    align-self: center;
	opacity: .6;
	border-radius: 1rem;
}

.which__icon::before {
	-webkit-transform: rotate(60deg);
	    -ms-transform: rotate(60deg);
	        transform: rotate(60deg);
}

.which__icon::after {
	-webkit-transform: rotate(95deg);
	    -ms-transform: rotate(95deg);
	        transform: rotate(95deg);
}

.contacts {
	margin: 3rem auto;
}

.contacts a {
	color: var(--body-color);
	-webkit-transition: color ease-in-out .3s;
	-o-transition: color ease-in-out .3s;
	transition: color ease-in-out .3s;
}

.contacts a:hover {
	color: var(--link-hover);
}

.contacts__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: center;
	    align-self: center;
	margin: 1rem 0;
}

.contacts__list-item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 calc(100% / 3);
	        flex: 0 calc(100% / 3);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	    align-self: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.contacts__text {
	margin-left: 1rem;
}

.contacts__icon {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: center;
	    align-self: center;
}

.contacts__icon-image {
	position: relative;
	z-index: 10;
	width: 30px;
	height: 30px;
	-webkit-filter: var(--about-icon-color);
	        filter: var(--about-icon-color);
}

.contacts__icon::after {
	content: '';
	position: absolute;
	width: 46px;
	height: 46px;
	background-color: var(--contact-phone-icon);
	-webkit-box-shadow: var(--about-icon-shadow);
	        box-shadow: var(--about-icon-shadow);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: center;
	    align-self: center;
	opacity: .8;
	border-radius: 1rem;
}

.contacts__icon.draft::after {
	background-color: var(--contact-mail-icon);
}

.about__container {
	position: relative;
	top: -60px;
	width: 100%;
	margin: auto;
	background-color: var(--about-background);
	-webkit-box-shadow: var(--about-shadow);
	        box-shadow: var(--about-shadow);
	border-radius: 1rem;
	padding: 3rem;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 400px auto;
	grid-template-columns: 400px auto;
}

.about__container-description .text {
	margin: 1rem 0;
}

.about__container-icon {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: center;
	    align-self: center;
}

.about__icon-image {
	position: relative;
	z-index: 10;
	width: 60px;
	height: 60px;
	-webkit-filter: var(--about-icon-color);
	        filter: var(--about-icon-color);
}

.about__container-icon::before,
.about__container-icon::after {
	content: '';
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: #ea5643;
	-webkit-box-shadow: var(--about-icon-shadow);
	        box-shadow: var(--about-icon-shadow);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: center;
	    align-self: center;
	opacity: .6;
	border-radius: 1rem;
}

.about__container-icon::before {
	-webkit-transform: rotate(60deg);
	    -ms-transform: rotate(60deg);
	        transform: rotate(60deg);
}

.about__container-icon::after {
	-webkit-transform: rotate(95deg);
	    -ms-transform: rotate(95deg);
	        transform: rotate(95deg);
}

.main {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: main;
}

.request {
	background-color: var(--request-background);
	padding: 1rem 0;
}

.request .container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr auto;
	grid-template-columns: 1fr auto;
}

.request__title {
	color: #ffffff;
}

.request__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	    align-self: center;
}

.auto {
	background: var(--info-background);
	padding: 2rem 0 3rem;
	font-size: .75rem;
}

.footer {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: footer;
	background-color: var(--footer-background);
	color: var(--footer-text-color);
	font-size: 0.6875rem;
	padding: 1rem 0;
	line-height: 1.5;
	text-align: center;
}

/* Modal start */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.modal.open {
	-webkit-animation: fadeIn .3s linear;
	        animation: fadeIn .3s linear;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.modal.close {
	-webkit-animation: fadeOut .3s linear;
	        animation: fadeOut .3s linear;
}

.modal__container {
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	    align-self: center;
}

.modal__container-form {
	padding: 2rem;
	border-radius: 1rem;
	background: #fff;
	-webkit-box-shadow: var(--about-shadow);
	        box-shadow: var(--about-shadow);
}
/* Modal end */

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes navFade {
	from {
		opacity: 0;
		-webkit-transform: translateX(50px);
		        transform: translateX(50px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
}

@keyframes navFade {
	from {
		opacity: 0;
		-webkit-transform: translateX(50px);
		        transform: translateX(50px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 100%;
	}

	.info {
		padding: 4rem 0 6rem;
	}

	.info .container,
	.request .container,
	.which.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.info__description {
		padding: 1rem 0 2rem;
	}

	.info__form {
		width: 100%;
		padding: 2rem 1rem;
	}

	.about__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 2rem;
	}

	.about__container-icon {
		padding: 6rem 0 3rem;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}

	.about__container-description {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}

	.platforms {
		margin: 0 auto 2rem auto;
	}

	.platforms__list-item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 100%;
		        flex: 0 100%;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.request {
		padding-bottom: 2rem;
	}

	.review {
		padding: 3rem 0;
	}

	.which {
		margin: 2rem auto;
	}

	.which__icon {
		padding: 5rem 0 4rem;
	}

	.contacts {
		margin: 2rem auto;
	}

	.contacts__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.contacts__list-item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 100%;
		        flex: 0 100%;
		-ms-flex-item-align: start;
		    align-self: flex-start;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.contacts__list-item:nth-child(2) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.modal__container {
		width: 95%;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 720px;
	}

	body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		overflow-x: hidden;
	}

	.header__logotype-image {
		height: 1rem;
	}

	.header__navigation {
		display: none;
	}

	.header__navigation {
		position: fixed;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .6);
		        box-shadow: 0 10px 10px rgba(0, 0, 0, .6);
		right: 0;
		top: 9.5vh;
		width: 60%;
		height: 90.5vh;
		background-color: #27706b;
		padding: 1rem;
		-webkit-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		        transform: translateX(100%);
		-webkit-transition: -webkit-transform .5s ease-in;
		transition: -webkit-transform .5s ease-in;
		-o-transition: transform .5s ease-in;
		transition: transform .5s ease-in;
		transition: transform .5s ease-in, -webkit-transform .5s ease-in;
	}

	.header__navigation.active {
		-webkit-transform: translateX(0%);
		    -ms-transform: translateX(0%);
		        transform: translateX(0%);
	}

	.header__navigation-link {
		opacity: 0;
	}

	.header__navigation-link:not(:last-of-type) {
		margin-right: 0;
		margin-bottom: 1rem;
	}

	.header__button {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-item-align: center;
		    align-self: center;
		margin-left: auto;
		cursor: pointer;
	}

	.header__button div {
		background-color: #fff;
		height: 3px;
		width: 20px;
		border-radius: 1rem;
		-webkit-transform: rotate(0);
		    -ms-transform: rotate(0);
		        transform: rotate(0);
		-webkit-transition: margin-bottom .3s linear, display .3s linear, -webkit-transform .3s linear;
		transition: margin-bottom .3s linear, display .3s linear, -webkit-transform .3s linear;
		-o-transition: transform .3s linear, margin-bottom .3s linear, display .3s linear;
		transition: transform .3s linear, margin-bottom .3s linear, display .3s linear;
		transition: transform .3s linear, margin-bottom .3s linear, display .3s linear, -webkit-transform .3s linear;
	}

	.header__button div:not(:last-of-type) {
		margin-bottom: 4px;
	}

	.header__button.active div {
		margin-bottom: 0;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.header__button.active div:first-of-type {
		-webkit-transform: rotate(45deg) translate(0px, 0px);
		    -ms-transform: rotate(45deg) translate(0px, 0px);
		        transform: rotate(45deg) translate(0px, 0px);
	}

	.header__button.active div:nth-child(2) {
		opacity: 0;
	}

	.header__button.active div:last-of-type {
		-webkit-transform: rotate(-45deg) translate(4px, -4px);
		    -ms-transform: rotate(-45deg) translate(4px, -4px);
		        transform: rotate(-45deg) translate(4px, -4px);
	}

	.info .container {
		-ms-grid-columns: auto auto;
		grid-template-columns: auto auto;
	}

	.info__form {
		width: 80%;
	}

	.about__container {
		padding: 2rem;
		-ms-grid-columns: 250px auto;
		grid-template-columns: 250px auto;
	}

	.platforms__list-item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 calc(100% / 2 - 15px);
		        flex: 0 calc(100% / 2 - 15px);
		width: calc(100% / 2 - 15px);
		margin-right: 0px;
		margin-left: 0px;
	}

	.platforms__list-item:nth-child(2n+1) {
		margin-right: 15px;
	}

	.which.container {
		-ms-grid-columns: auto 250px;
		grid-template-columns: auto 250px;
	}
}

@media (max-width: 896px) {
	.container {
		max-width: 860px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
